{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>
    Productos publicados
</h2>
<div class="container">
    {% for object in object_list %}
    <div class="card border-dark mb-3" style="width: 18rem;">
        <div class="card-header">
            {{ object.title }}
        </div>
        <div class="card-body text-dark">
            <img alt="Card image cap" class="card-img-top" src="media/{{ object.image }}"/>
            <div class="card-body">
                <p class="card-text">
                    {{ object.text }}
                </p>
                <p class="post-meta">
                    Posted by
                    <a href="/users/{{ object.author }}">
                        {{ object.author }}
                    </a>
                    on {{ object.created_date|date:"D d M Y" }}
                </p>
                <a href="{{ object.url }}">
                    Url
                </a>
                <br/>
                <a class="card-link" href="{{ object.get_absolute_url }}">
                    Saber mas
                </a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>
        no hay nada
    </p>
    {% endfor %}
</div>
{% endblock content %}
